{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * test plugin for Craft CMS 3.x
 *
 * test index.twig
 *
 * @author    The Craft
 * @copyright Copyright (c) 2018 The Craft
 * @link      the-craft.be
 * @package   Test
 * @since     0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("\\test\\assetbundles\\test\\TestAsset") %}
{% do view.registerAssetBundle("\\test\\assetbundles\\sproutcpsection\\SproutCPSectionAsset") %}

{% set docsUrl = "???" %}

{% set title = "test" %}

{% set pluginCpUrl = url('test') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@/test/assetbundles/sproutcpsection/dist', true) ~ '/img/Sprout-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('test') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Sprout CP Section body goes here"|t('test') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
